<ion-app>
  <ion-menu *ngIf="authService.isAdmin" side="start" contentId="menuContent">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Adam
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list *ngIf="authService.isAdmin" class="">

        <ion-menu-toggle *ngIf="authService.isAdmin">
          <ion-item lines="none" routerLink="home/admin/dates">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>مواعيد</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="home/admin/program">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>برنامج</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>خروج</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menuContent" dir="rtl"></ion-router-outlet>
</ion-app>